.steps {
    margin: 73px 0 0 0;
    &-title {
        text-align: center;
    }
    &-wrapper {
        margin: 81px 0 0 0;
        display: flex;
        justify-content: space-between;
        gap: 22px;
    }
    &-item {
        max-width: 386px;
        position: relative;
        padding: 46px 30px 34px 30px;
        font-size: 16px;
        line-height: 140%;
        background: linear-gradient(180deg, #F6F9FD 0%, #F1F5FA 100%);
        border-radius: 30px;
        &::before {
            content: attr(data-number);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            line-height: 140%;
            font-weight: 600;
            color: $white;
            position: absolute;
            top: 0%;
            transform: translateY(-50%);
            left: 30px;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background: linear-gradient(180deg, #6989FE 0%, #3C64F4 100%);
        }
    }
}

/* === media === */
@media (max-width: 768px) {
    .steps {
        margin: 50px 0 0 0;
        &-wrapper {
            margin: 76px 0 0 0;
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
        &-item {
            padding: 46px 16px 33px 16px;
            font-size: 15px;
        }
    }
}
@media (max-width: 575px) {
    .steps {
        margin: 40px 0 0 0;
        &-wrapper {
            margin: 76px 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
        }
        &-item {
            padding: 46px 19px 42px 16px;
            font-size: 14px;
            &::before {
                font-size: 20px;
                left: 16px;
                width: 40px;
                height: 40px;
            }
        }
    }
}